/* The name of the window itself */
#window {
  background-color: rgba(30, 30, 30, 0.95);
  border-radius: 12px;
  font-family: "IBM Plex Mono";
  font-size: 1.1rem;
  margin: 5px;
}

/* The name of the box that contains everything */
#window #outer-box {
  padding: 0;
  margin: 0;
  /* The name of the search bar */
  /* The name of the scrolled window containing all of the entries */
}
#window #outer-box #input {
  /* Searchbox */
  background-color: transparent;
  color: #f2f2f2;
  border: none;
  padding: 1rem;
  margin: 0;
  font-size: 1.15rem;
  border-radius: 12px 12px 0 0;
}
#window #outer-box #input:focus,
#window #outer-box #input:focus-visible,
#window #outer-box #input:active {
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#window #outer-box #scroll #inner-box {
  margin: 0;
  padding: 0;
}
#window #outer-box #scroll #inner-box #entry {
  padding: 0.75rem 1rem;
  color: #ffffff;
  margin: 0;
}
#window #outer-box #scroll #inner-box #entry #img {
  margin-right: 1rem;
}
