@import "../waybar/style/catppuccin-themes/mocha.css";

/* colors by stormy */

@define-color active    #222222;
@define-color inactive  #171717;

@define-color white1    #f0f0f0;
@define-color white2    #e0e0e0;
@define-color white3    #cccccc;

/* Catppuccin Mocha palette */

@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color crust     #11111b;

@define-color text      #cdd6f4;
@define-color subtext0  #a6adc8;
@define-color subtext1  #bac2de;

@define-color surface0  #313244;
@define-color surface1  #45475a;
@define-color surface2  #585b70;

@define-color overlay0  #6c7086;
@define-color overlay1  #7f849c;
@define-color overlay2  #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #85eb81;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  font-family: "IBM Plex Mono";
  font-weight: bold;
  min-height: 0;
  /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
  font-size: 100%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 0.04rem;
  /*border: 1px solid red;*/
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: transparent;
  /*border: 2px solid @overlay0;*/
  /*padding: 10px;*/
  /*background: @theme_base_color;*/
  /*border-radius: 10px;*/
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background: none;
}

/* This section can be use if you want to separate waybar modules */
.modules-left,
.modules-center,
.modules-right {
  background: rgba(07, 07, 07, 0.8);
  /*backdrop-filter: blur(10px);*/
  border: 2px solid @inactive;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 14px;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-cycle_wall,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-swaync,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
}

#custom-power {
  padding-left: 8px;
}

#idle_inhibitor {
  color: @white1;
}

#bluetooth,
#backlight {
  color: @white1;
}

/*
#battery {
  padding-right: 10px;
}
*/

#battery {
  color: @white1;
}

#battery.charging, #battery.plugged {
  color: @green;
}

#battery.critical:not(.charging) * {
  color: #000000;
}

/*
@keyframes blink {
  to {
    background: #000000;
    color: #000000;
    padding: 1px 10px 1px 10px;
    margin-top: 5px;

  }
}
*/

/* Using steps() instead of linear as a timing function to limit cpu usage */
/*
#battery.critical:not(.charging) {
  color: #000000;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
*/

#clock {
  color: @white1;
}

#cpu {
  color: @white1;
}

#custom-keyboard,
#memory {
  color: @white1;
}

#disk {
  color: @white1;
}

#temperature {
  color: @white1;
}

#temperature.critical {
  background-color: @red;
}

#tray {
  color: lighter(@white1);
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* Workspaces */

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  border-radius: 12px;
  padding-left: 4px;
  padding-right: 8px;
  /*animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);*/
}

#workspaces button:hover {
  border-radius: 10px;
  color: @inactive;
  background-color: @white1;
  /*padding-left: 4px;
  padding-right: 10px;*/
  /*animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);*/
}

#workspaces button.persistent {
  color: @surface1;
  border-radius: 12px;
}

/*
#workspaces button.active {
  color: @white1;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
  color: @red;
  border-radius: 0px;
}
*/

#taskbar button.active {
  padding-left: 8px;
  padding-right: 8px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  padding-left: 2px;
  padding-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#custom-cava_mviz {
  color: @white1;
}

#custom-menu {
  color: @white1;
}

#custom-power {
  color: @white1;
}

#custom-updater {
  color: @white1;
}

#custom-light_dark {
  color: @white1;
}

#custom-weather {
  color: @white1;
}

#custom-lock {
  color: @white1;
}

#pulseaudio {
  color: @white1;
}

#pulseaudio.bluetooth {
  color: @white1;
}
#pulseaudio.muted {
  color: @white1;
}

#window {
  color: @white1;
}

#custom-waybar-mpris {
  color: @white1;
}

#network {
  color: @white1;
}
#network.disconnected,
#network.disabled {
  /*background-color: @surface0;*/
  color: @text;
}
#pulseaudio-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-width: 80px;
  min-height: 5px;
  border-radius: 5px;
}

#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 5px;
}

#backlight-slider slider {
  min-width: 0px;
  min-height: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough {
  min-width: 80px;
  min-height: 10px;
  border-radius: 5px;
}

#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
}
